.fullscreen {
  position: absolute;
  overflow: hidden;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: all 1s ease-in-out;
}

.bg {
  background: radial-gradient(50% 50% at 50% 50%, #D15520 0%, #E3651E 100%);
}
/* 
.clicked {
  pointer-events: none;
  transform: translateY(-100vh);
} */
